<div class="container">
	<div class="row">
		<div class="col-sm-12 col-md-12 col-lg-12">
			<div class="card bg-dark text-white card-um">
				<img class="card-img" src="/assets/views/home/red-vintage.png" max-width="400px" alt="Card image">
				<div class="card-img-overlay">
					<img class="um-logo" src="/assets/views/home/logo-um.png">
					<div class="card-text">
						<a class="btn um-button" href="tel:510-967-7093">
							Llamar a nosotros
						</a>
						<a class="btn um-button" href="mailto:universalmagazine@yahoo.com">
							Mandar un email
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-12 col-lg-12" *ngIf="articles">
			<div class="card bg-dark text-white um-blog">
				<div class="card-img-overlay">
					<div class="card-columns">
					  <div class="card" *ngFor="let card of articles; let idx = index;">
						<img class="card-img-top" [src]="card.img0" alt="Card image cap">
						<div class="card-body">
						  <h5 class="card-title" [innerHTML]="card.title"></h5>
						  <p class="card-text">{{ card.para0.split(' ').slice(0,10).join(' ') + '...' }}</p>
						  <p class="card-text"><small class="text-muted" [innerHTML]="card.data"></small></p>
						</div>
						<div class="card-footer">
							<a href="http://universalmagazine.net/single/#!/home/{{card._id}}" class="btn btn-dark">Ver Articulo</a>
							<button [hidden]="card.isLiked" (click)="upvoteArticle(card); card.isLiked =! card.isLiked" class="btn btn-dark"><span class="ion-thumbsup"></span>( {{card.upvotes}} )</button>
							<button [hidden]="!card.isLiked" (click)="downvoteArticle(card); card.isLiked =! card.isLiked" class="btn btn-light"><span class="ion-thumbsup"></span>( {{card.upvotes}} )</button>
						</div>
					  </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
