<div class="container">
	<div class="row">
		<div class="col-sm-12 col-md-12 col-lg-12">
			<div class="card bg-dark text-white card-um">
				<img class="card-img" src="/assets/views/home/red-vintage.png" max-width="400px" alt="Card image">
				<div class="card-img-overlay">
					<img class="um-logo" src="/assets/views/home/logo-um.png">
					<div class="card-text">
						<a class="btn um-button" href="tel:510-967-7093">
							Llamar a nosotros
						</a>
						<a class="btn um-button" href="mailto:universalmagazine@yahoo.com">
							Mandar un email
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<section id="gallery" class="parallax-section">
		<div class="container pt-5 pb-5">
			<div class="row">
				<div class="iso-box breakfast pizza lunch col-md-4 col-sm-6 pb-3 pt-3" *ngFor="let product of products; let idx = index;">
					<div class="gallery-thumb">
						<a [attr.href]="'mailto:universalmagazine@yahoo.com'" data-lightbox-gallery="food-gallery">
							<img [src]="'/assets/views/home/gallery-img' + (idx + 1) +'.jpg'" class="fluid-img img-thumbnail" alt="Gallery">
								<div class="gallery-overlay">
									<div class="gallery-item">
										<i class="ion-email"></i>
										<h3>{{product.name}}</h3>
									</div>
								</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
