<p>
  <button type="button" class="btn um-btn-navbar"
  			(click)="isCollapsed = !isCollapsed"
				[attr.aria-expanded]="!isCollapsed" aria-controls="collapseMenu">
    <span class="um-nav-text">Menu</span>
	<span class="um-icon" [ngClass]="isCollapsed ? 'ion-navicon-round' : 'ion-close'"></span>
  </button>
</p>
<div id="collapseMenu" [ngbCollapse]="isCollapsed">
	<div class="list-group">
		<a href="#" class="list-group-item list-group-item-action active">
		Cras justo odio
		</a>
		<a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
		<a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
		<a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
		<a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>
	</div>
</div>

<p>
  <a href="http://pay.universalmagazine.net" class="btn btn-light um-btn-navbar cash">
    <span class="um-nav-text">Payment</span>
	<span class="um-icon ion-social-usd"></span>
  </a>
</p>
