<p>
  <button type="button" class="btn um-btn-navbar"
  			(click)="isCollapsed = !isCollapsed"
				[attr.aria-expanded]="!isCollapsed" aria-controls="collapseMenu">
    <span class="um-nav-text">Menu</span>
	<span class="um-icon" [ngClass]="isCollapsed ? 'ion-navicon-round' : 'ion-close'"></span>
  </button>
</p>
<div id="collapseMenu" [ngbCollapse]="isCollapsed">
	<div class="list-group">
		<a href="#" [routerLink]="'/home'" class="list-group-item list-group-item-action active">Inicio/Home</a>
		<a href="#" [routerLink]="'/samples/installations'" class="list-group-item list-group-item-action">
			Ejemplos/Samples
		</a>
		<a href="#" class="list-group-item list-group-item-action">Comming Soon...</a>
		<a href="#" class="list-group-item list-group-item-action">Comming Soon...</a>
		<a href="#" class="list-group-item list-group-item-action disabled">Comming Soon...</a>
	</div>
</div>

<p>
  <a href="http://pay.universalmagazine.net" class="btn btn-light um-btn-navbar cash">
    <span class="um-nav-text">Payment</span>
	<span class="um-icon ion-social-usd"></span>
  </a>
</p>
