$velvet-red: #6e312e;
$velvet-gold: #645b41;
$velvet-dark-red: #562726;
$velvet-white: #d0d0d0;

@mixin btn-redVelvet() {
	background: $velvet-red;
	border: 1px solid $velvet-dark-red;
	color: $velvet-white;

	&:focus {
		box-shadow: 0 0 0 0.2rem rgba(165, 111, 111, 0.25);
	}
}

@mixin btn-goldVelvet() {
	background: $velvet-gold;
	border: 1px solid $velvet-dark-red;
	color: $velvet-white;

	&:focus {
		box-shadow: 0 0 0 0.2rem rgba($velvet-dark-red, 0.25);
	}
}

@mixin btn-whiteVelvet() {
	background: $velvet-white;
	border: 1px solid $velvet-gold;
	color: $velvet-gold;

	&:focus {
		box-shadow: 0 0 0 0.2rem rgba($velvet-dark-red, 0.25);
	}
}
