<div class="container pt-5 pb-5">
  <h1>Escoge Seccion para Subir Foto</h1>
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-sm-6 col-md-3 p-1">
          <button type="button" class="btn btn-dark btn-block" [routerLink]="'/content-management/installation-samples'">Instalaciones</button>
        </div>
        <div class="col-sm-6 col-md-3 p-1">
          <button type="button" class="btn btn-dark btn-block">Coming Soon...</button>
        </div>
        <div class="col-sm-6 col-md-3 p-1">
          <button type="button" class="btn btn-dark btn-block">Coming Soon...</button>
        </div>
        <div class="col-sm-6 col-md-3 p-1">
          <button type="button" class="btn btn-dark btn-block">Coming Soon...</button>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
